* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background-color: #eee;
}
ul {
    list-style: none;
}
h1 {
    padding-top: 20px;
    padding-bottom: 25px;
    margin: 0 !important;
    font-family: 'Pangolin', cursive;
    color: var(--main-color);
    background-color: white;
    padding-left: 10px;
    text-align: start;
    font-size: 35px;
}
:root {
    --main-color: #c85858;
}
/*$$$$header$$$$*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
    position: relative;
}
header .logo img {
    width: 150px;
}
header .adress {
    flex: 1;
    cursor: pointer;
}
header .adress .adres {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--main-color);
    padding: 7px 30px 7px 7px;
    border-radius: 5px;
    color: var(--main-color);
    margin-left: 60px;
}
header ul {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   padding-right: 30px;
}
header ul li {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    cursor: pointer;
}
@media (max-width:450px) {
    header ul li {
        border: none;
    }
    header ul li span {
        display: none;
    }
}
@media (max-width:970px) {
    header {
        flex-direction: column;
        align-items: stretch;
    }
    header .adress {
        position: absolute;
        top: 50%;
        transform: translateY(-100%);
        right: 5%;
    }
    header ul {
        padding-right: 0;
        gap: 10px;
    }
}
/*$$$$header$$$$*/
/*$$$$Main $$$$*/
.main {
    display: grid;
    grid-template-columns: 20% 80%;
    height: calc(100vh - 154px);
    overflow: hidden;
    padding: 20px;
    position: relative;
}
@media (max-width:970px) {
    .main {
        height: calc(100vh - 194px);
    }
}.ifrem iframe {
    width: 100%;
    height: 100%;
    border: none;
    position: relative;
}
.main nav {
    padding: 10px 20px;
    font-size: 20px;
}
.main nav ul li {
    margin-bottom: 35px;
    color:#7a6e5f;
    cursor: pointer;
}
.main nav ul li:hover {
    color: var(--main-color);
    transition: 0.5s;
}
.go-hunt ul li span {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.go-hunt ul li span img {
     width: 100%;
     height: 100%;
     border-radius: 50%;
}
@media (max-width:780px) {
    .main {
        grid-template-columns: 1fr;
    }
    .main nav {
     display: none;
    }
}
/*$$$$Main $$$$*/
/* .addToCard {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 100vh;
    background-color: #eee;
}
.things {
    display: grid;
    grid-template-columns: 70% 30% !important;
    text-align: center;
    background-color: white;
    margin-top: 53px;
    margin-left: 30px;
}
.things .right .content-Right{
    display: grid;
    grid-template-columns: 30% 30% 20% 20%;
    font-size: 20px;
    grid-row-gap: 20px;
    padding-bottom: 15px;
}
.things .right .content-Right .ChanksBox .EN,
.things .right .content-Right .ChanksBox .EA
{
        background-color: var(--main-color);
        width: 17px;
        display: inline-block;
        text-align: center;
        margin-right: 5px;
        font-size: 20px;
        color: white;
}
.things .right .content-Right .ChanksBox .EA {
    margin-left: 5px;
}
.things .right .content-Right .itemPlace,
.NamePlace,
.QuantityPlace,
.PricePlace {
    margin-bottom: 20px;
}
.timeCange .item {
    display: grid;
    grid-template-columns: 30% 30% 20% 20%;
    margin-bottom: 30px;
}
.img-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-div .img-Card {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
.img-div .img-Card img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.text,
.ChanksBox,
.price {
    display: flex;
    justify-content: center;
    align-items: center;
}
.things .left {
    display: flex;
    justify-content: center;
    background-color: #eee;
}
.things .left .content {
    display: flex;
    justify-content: center;
    height: fit-content;
    align-items: start;
    flex-direction: column;
    gap: 30px;
    background-color: white;
    padding: 30px;
    margin-top: 50px;
}
.things .left .content p {
    font-size: 18px;
}
.things .left .content .button {
    text-align: center;
    width: 100%;
}
.things .left .content .button button {    
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--main-color);
    color: white;
}
.change {
     opacity: 0;
     z-index: -1;
}
@media (max-width:734px)  {
    .things  {
        display: grid;
      grid-template-columns: 100% !important;
    }
} */